@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  --main-background-color: #fefefe;
  --text-color: #fefefe;
  --chat-text-color: #4d4d4d;
  --pop-color: #00a896;
  --pop-color-hover: #02c39a;
  --main-green: var(--pop-color);
  --shadow-color: rgba(0,0,0,0.30);
}

body, html{
  font-family:'Open Sans';
}
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 8fr 2fr;
}

#video-vote {
  display: grid;
  grid-template-rows: 6fr 2fr 2fr;
  overflow-y: scroll;
  overflow-x: hidden;
}

#voting {
  background-color: var(--main-background-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap:4rem;
  padding:2rem;
}

#voting button {
  border-radius:1rem;
  background-color: var(--pop-color);
  color:var(--text-color);
  border: none;
  box-shadow: 0px 3px 6px var(--shadow-color);
}

#voting button:focus {
  outline: none;
  border: none;
}

#voting button:active {
  outline: none;
  border: none;
  box-shadow: none;
}

#video-player{
  background:var(--main-background-color);
}
#video-player div:first-of-type {
  width:100%!important;
  height: 100%!important;
}

#VideoInfo {
  display: grid;
  grid-template-columns: 8fr 1fr;
  padding: .5rem 1rem;
}

#chat {
  display: grid;
  grid-template-rows: 10fr 1fr;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: var(--main-background-color);

  /* -ms-overflow-style: none;*/  /* IE and Edge */
  /*scrollbar-width: none; */ /*Firefox */
}
#chat h2 {
  font-size: 1rem;
  color: var(--chat-text-color);

  margin: 0;
  padding: 0;
}

#chat p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--chat-text-color); 
}

#chat-messages {
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-background-color);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pop-color);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pop-color-hover);
}

#chat-input {
  display: grid;
  grid-template-columns: 8fr 2fr;
  border: 2px solid var(--pop-color);
  background-color: var(--text-color);
}

#chat-input textarea {
  border: none;
  outline: none;
  
  resize: none;
  overflow: auto;

  height: 100%;
  width: 100%;
}

#chat button {
  background-color: var(--pop-color);
  color:white;
  margin: .1rem;
  border: none;
}


.user-message {
  text-align: right;

}
.user-message h2 {
 color: aqua;

}

/* Hide scrollbar for Chrome, Safari and Opera */

#chat::-webkit-scrollbar {
  display: none;
}

