@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
}

body, html{
  font-family:'Open Sans';
}
.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 8fr 2fr;
}

#video-vote {
  display: grid;
  grid-template-rows: 8fr 2fr;
}

#voting {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap:4rem;
  padding:2rem;
}

#voting button{
  border-radius:1rem;
  background-color: #109D10;
  color:white;
}

#video-player{
  background:black;
}
#video-player div:first-of-type {
  width:100%!important;
  height: 100%!important;
}

#chat {
  display: grid;
  grid-template-rows: 10fr 1fr;
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: whitesmoke;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
#chat h2 {
  font-size: 1rem;
  color: #000E;

  margin: 0;
  padding: 0;
}

#chat p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

#chat-messages {
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: whitesmoke;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #109D10;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1db31d;
}

#chat-input {
  display: grid;
  grid-template-columns: 8fr 2fr;
  border: 2px solid #109D10;
}

#chat-input textarea {
  border: none;
  outline: none;
  
  resize: none;
  overflow: auto;

  height: 100%;
  width: 100%;
}

#chat button {
  background-color: #109D10;
  color:white;
  margin: .1rem;
}


.user-message {
  text-align: right;

}
.user-message h2 {
 color: aqua;

}

/* Hide scrollbar for Chrome, Safari and Opera */

#chat::-webkit-scrollbar {
  display: none;
}

